<!DOCTYPE html>
<html>
<head>
<title>Ping Pong Arena - {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="/static/css/main.css" />
{% block js %}{% endblock %}
</head>
<body>
    <header id="head">{% block banner %}<nav><a href="{% block leftmenuurl %}{% endblock %}"><div id="leftmenu">{% block leftmenu %}{% endblock %}</div></a><a href="{% block rightmenuurl %}{% endblock %}"><div id="rightmenu">{% block rightmenu %}{% endblock %}</div></a></nav>{% endblock %}</header>
{% block content %}{% endblock %}
</body>
</html>
