<!DOCTYPE html>
<html>
<head>
<title>Ping Pong Arena - {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="static/css/main.css" />
{% block js %}{% endblock %}
</head>
<body>
    <header id="head">{% block banner %}<nav><div id="leftmenu"><a href="{% block leftmenuurl %}{% endblock %}">{% block leftmenu %}{% endblock %}</a></div><div id="rightmenu"><a href="{% block rightmenuurl %}{% endblock %}">{% block rightmenu %}{% endblock %}</a></div></nav>{% endblock %}</header>
{% block content %}{% endblock %}
</body>
</html>
