@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:700);

body {
background: url('/static/images/pattern.jpg');
color: #3b3934;
font-family: helvetica, arial, sans-serif;
}

#head {
    background-image: url("/static/images/banner.png");
    background-position: 50% 0;
    background-repeat: no-repeat;
    height: 202px;
    color: #4e7f7a;
    font: 15pt;
    font-family: 'Josefin Slab', helvetica, arial, sans-serif;
}

#head a {
    text-decoration: none;
    color: #4e7f7a;
    font-weight: bold;
    font-size: 15pt;
    text-transform: uppercase;
}

#leftmenu {
    left: 50%;
    margin-left: -350px;
    padding-left: 0;
    position: absolute;
    text-align: center;
    top: 116px;
    width: 200px;
}

#rightmenu {
    left: 50%;
    margin-left: 150px;
    position: absolute;
    text-align: center;
    top: 116px;
    width: 200px;
}

#ranks {
    vertical-align: top;
    background: url("/static/images/filet2.gif") repeat-y scroll 50% 0 transparent;
    height: 500px
}

#ranks h1 {
    text-transform: uppercase;
}

#singles {
    display: inline-block;
    position: absolute;
    right: 50%;
    margin-right: 5px;
}

#teams {
    display: inline-block;
    left: 50%;
    position: absolute;
    margin-left: 1em;
}

#teams header {
    text-align: right;
}

#ranks table {
    border-spacing: 0
}

.rank {
    color: #3b3934;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    width: 39px;
    padding: 0 0.5em 0 0;
}

.champion .rank {
    background-image: url("../images/laurel.png");
    background-repeat: no-repeat;
    font-weight: bold;
    margin-top: 10px;
}

.rank1 {
    color: #d7981e;
}

.rank2 {
    color: #a49c8d;
}

.rank3 {
    color: #7a3b15;
}

.champion
{
    font-size: 38px;
    height: 1.5em;
}

.champion .name
{
    font-weight: bold;
    font-size: 16pt;
}

#singles .score
{
    text-align: right;
    padding-left: 2em;
    background: url(/static/images/filet1.gif) 20px 0 repeat-y;
}

#teams .score
{
    text-align: left;
    padding-right: 2em;
    background: url(/static/images/filet1.gif) 55px 0 repeat-y;
}

.champion .score
{
    font-size: 12pt;
}

#login {
    text-align: center;
}

#login #box {
    border: 1px solid #3B3934;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    padding: 10px;
    text-align: left;
}

#login #box label {
    margin-top: 15px;
    display: block;
}

#login #box input[type=submit] {
    background: none repeat scroll 0 0 #3B3934;
    border: 1px solid black;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFBB;
    font-size: 11pt;
    font-weight: bold;
    margin-top: 15px;
}

#team_1
{
float: left;
}

#team_2
{
float: right;
}

.teams
{
width: 50%;
position: relative;
display: inline-block;
text-align: center;
}

.teams label
{
margin: 15px;
width: 200px;
padding: .5em;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* W3C */
display: inline-block;
color: #4e7f7a;
-webkit-box-shadow: 0px 0px 3px 1px #3B3934;
-moz-box-shadow: 0px 0px 3px 1px #3B3934;
box-shadow: 0px 0px 3px 1px #3B3934;
}

.teams input
{
display: none;
}

.teams input:checked + label
{
background: -moz-linear-gradient(top, rgba(78,127,122,0.25) 0%, rgba(78,127,122,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(78,127,122,0.25)), color-stop(100%,rgba(78,127,122,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(78,127,122,0.25) 0%,rgba(78,127,122,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(78,127,122,0.25) 0%,rgba(78,127,122,0.65) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(78,127,122,0.25) 0%,rgba(78,127,122,0.65) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404e7f7a', endColorstr='#a64e7f7a',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(78,127,122,0.25) 0%,rgba(78,127,122,0.65) 100%); /* W3C */
text-shadow: 1px 1px 2px #000000;
color: #e9e9ce;
}

.teams label.disabled
{
    color: gray;
    background: rgba(0,0,0,0.15);
    text-shadow: 0 0 5px #000000;
    color: transparent;
}

#base
{
width: 100%;
text-align: center;
}

#base input
{
display: none;
}

#base label {
-webkit-box-shadow: 0px 0px 3px 1px #3B3934;
-moz-box-shadow: 0px 0px 3px 1px #3B3934;
box-shadow: 0px 0px 3px 1px #3B3934;
background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* W3C */
display: inline-block;
color: #4e7f7a;
padding: 10px;
}

#base label[for=base_0]
{
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 0px;
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-radius: 5px 0px 0px 5px;
border-radius: 5px 0px 0px 5px;
}


#base label[for=base_1]
{
-moz-border-radius-topleft: 0px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-radius: 0px 5px 5px 0px;
border-radius: 0px 5px 5px 0px;
}

#base input:checked + label
{
background: -moz-linear-gradient(top, rgba(78,127,122,0.25) 0%, rgba(78,127,122,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(78,127,122,0.25)), color-stop(100%,rgba(78,127,122,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(78,127,122,0.25) 0%,rgba(78,127,122,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(78,127,122,0.25) 0%,rgba(78,127,122,0.65) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(78,127,122,0.25) 0%,rgba(78,127,122,0.65) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404e7f7a', endColorstr='#a64e7f7a',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(78,127,122,0.25) 0%,rgba(78,127,122,0.65) 100%); /* W3C */
color: #3B3934;
}


#scores
{
clear: both;
}

#score_team_1
{
float: left;
text-align: center;
width: 50%;
}

#score_team_2
{
float: right;
text-align: center;
width: 50%;
}

#score_team_1 label, #score_team_2 label
{
display:none;
}

#score_team_1 input, #score_team_2 input
{
width: 100px;
height: 80px;
background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* W3C */
color: #3B3934;
-webkit-box-shadow: 0px 0px 3px 1px #3B3934;
-moz-box-shadow: 0px 0px 3px 1px #3B3934;
box-shadow: 0px 0px 3px 1px #3B3934;
font-size: 65px;
text-align: center;
}

#means .opponent .name
{
    font-weight: bold;
    font-size: 110%;
}

#submit
{
    text-align: center;
}

#submit input
{
background: -moz-linear-gradient(top, rgba(78,127,122,0.25) 0%, rgba(78,127,122,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(78,127,122,0.25)), color-stop(100%,rgba(78,127,122,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(78,127,122,0.25) 0%,rgba(78,127,122,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(78,127,122,0.25) 0%,rgba(78,127,122,0.65) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(78,127,122,0.25) 0%,rgba(78,127,122,0.65) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404e7f7a', endColorstr='#a64e7f7a',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(78,127,122,0.25) 0%,rgba(78,127,122,0.65) 100%); /* W3C */
color: #3B3934;
    border: 1px solid gray;
    border-radius: 4px 4px 4px 4px;
    font-size: 12pt;
}

#warnings
{
    color: red;
    margin-bottom: 3px;
    text-align: center;
}
