<!DOCTYPE html>
<html>
<head>
<title>Ping Pong Arena - Classement</title>
<link rel="stylesheet" href="static/css/main.css" />
</head>
<body>
<header id="head">
<img src="static/images/rackets.png" /><h1>Ping Pong Arena</h1>
</header>
<nav>
<a href="/admin/client/player">Liste joueurs</a>
<a href="/newgame">Nouvelle partie</a>
</nav>
<section id="singles">
<header>
<h1>Les champions</h1>
</header>
{% if best_players %}
    <div id="best">
{% for score in best_players %}
<div class="champion"><span class="rank rank{{ forloop.counter}}">{{ forloop.counter }}</span><span class="name">{{ score.player.name }}</span><span class="score"> ({{ score.points }} pt)</span></div>
{% endfor %}
    </div>
    <div id="rest">
{% for score in rest_players %}
<div class="player"><span class="rank">{{ forloop.counter|add:3 }}</span><span class="name">{{ score.player.name }}</span><span class="score"> ({{ score.points }} pt)</span></div>
{% endfor %}
</div>
{% else %}
<p>Aucun match en simple...</p>
{% endif %}
</section>
<section id="teams">
<header>
<h1>Les meilleures équipes</h1>
</header>
{% if best_teams %}
    <div id="best">
{% for score in best_teams %}
<div class="champion"><span class="rank rank{{ forloop.counter}}">{{ forloop.counter }}</span><span class="name">{{ score }}</span><span class="score"> ({{ score.points }} pt)</span></div>
{% endfor %}
    </div>
    <div id="rest">
{% for score in rest_teams %}
<div class="player"><span class="rank">{{ forloop.counter|add:3 }}</span><span class="name">{{ score }}</span><span class="score"> ({{ score.points }} pt)</span></div>
{% endfor %}
</div>
{% else %}
<p>Aucun match en double...</p>
{% endif %}
</section>
</body>
</html>
