{% extends "base/page.html" %}
{% block title %}Classement{% endblock %}
{% block leftmenuurl %}/admin/client/player{% endblock %}
{% block leftmenu %}Liste joueurs{% endblock %}
{% block rightmenuurl %}/newgame{% endblock %}
{% block rightmenu %}Nouvelle partie{% endblock %}
{% block content %}
<section id="ranks">
<section id="singles">
<header>
<h1>Les champions</h1>
</header>
{% if best_players %}
    <table>
{% for score in best_players %}
<tr class="champion"><td class="rank rank{{ forloop.counter}}">{{ forloop.counter }}</td><td class="name">{{ score.player.name }}</td><td class="score">{{ score.points|floatformat }} pt</td></tr>
{% endfor %}
{% for score in rest_players %}
<tr class="player"><td class="rank">{{ forloop.counter|add:3 }}</td><td class="name">{{ score.player.name }}</td><td class="score">{{ score.points|floatformat }} pt</td></tr>
{% endfor %}
</table>
{% else %}
<p>Aucun match en simple...</p>
{% endif %}
</section>
<section id="teams">
<header>
<h1>Les meilleures équipes</h1>
</header>
{% if best_teams %}
    <table>
{% for score in best_teams %}
<tr class="champion"><td class="score">{{ score.points|floatformat:-1 }} pt</td><td class="rank rank{{ forloop.counter}}">{{ forloop.counter }}</td><td class="name">{{ score }}</td></tr>
{% endfor %}
{% for score in rest_teams %}
<tr class="player"><td class="score">{{ score.points|floatformat:-1 }} pt</td><td class="rank">{{ forloop.counter|add:3 }}</td><td class="name">{{ score }}</td></tr>
{% endfor %}
</table>
{% else %}
<p>Aucun match en double...</p>
{% endif %}
</section>
</section>
{% endblock %}
