{% extends "base/page.html" %}
{% block title %}Classement{% endblock %}
{% block leftmenuurl %}/admin/auth/user{% endblock %}
{% block leftmenu %}Liste joueurs{% endblock %}
{% block rightmenuurl %}/newgame{% endblock %}
{% block rightmenu %}Nouvelle partie{% endblock %}
{% block content %}
<section id="ranks">
<section id="singles">
<header>
<h1>Les champions</h1>
</header>
{% if best_players %}
    <table>
{% for score in best_players %}
<tr class="champion"><td class="rank rank{{ forloop.counter}}">{{ forloop.counter }}</td><td class="name"><a href="{% url player player_id=score.player.id %}">{{ score.player.first_name }}</a></td><td class="score">{{ score.intpoints }}<span class="float">{{ score.floatpoints}}&nbsp;pt</span></td></tr>
{% endfor %}
{% for score in rest_players %}
<tr class="player"><td class="rank">{{ forloop.counter|add:3 }}</td><td class="name"><a href="{% url player player_id=score.player.id %}">{{ score.player.first_name }}</a></td><td class="score">{{ score.intpoints }}<span class="float">{{ score.floatpoints}}&nbsp;pt</span></td></tr>
{% endfor %}
</table>
{% else %}
<p>Aucun match en simple...</p>
{% endif %}
</section>
<section id="teams">
<header>
<h1>Les meilleures équipes</h1>
</header>
{% if best_teams %}
    <table>
{% for score in best_teams %}
<tr class="champion"><td class="score"><span class="float">{{ score.intpoints }}</span>{{ score.floatpoints}}&nbsp;pt</td><td class="rank rank{{ forloop.counter}}">{{ forloop.counter }}</td><td class="name">{{ score }}</td></tr>
{% endfor %}
{% for score in rest_teams %}
<tr class="player"><td class="score"><span class="float">{{ score.intpoints }}</span>{{ score.floatpoints}}&nbsp;pt</td><td class="rank">{{ forloop.counter|add:3 }}</td><td class="name">{{ score }}</td></tr>
{% endfor %}
</table>
{% else %}
<p>Aucun match en double...</p>
{% endif %}
</section>
</section>
{% endblock %}
